html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map {
  flex: 1;
  width: 100%;
  height: 100%;
}

.slidecontainer {
  height: 10%;
}

.button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: 5px solid #7f3f00;
    border-radius: 4px;
}

.button.pressed {
  background-color: rgba(80, 80, 80, 0.5);
  color: rgba(40, 40, 40, 0.5);
}

.title-card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: 5px solid #7f3f00;
    border-radius: 4px;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #7f3f00;
    cursor: pointer;
  }